@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap&family=Ubuntu:wght@300&display=swap&family=Source+Sans+Pro:wght@300');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-size: 100%;
}
.main-container-Wrapper-Hobbies-Page{
    margin: 2.5rem;
}
.Hobbies-page-heading-Para{
    font-size: 2.5rem;
    font-weight: 800;
    font-family: 'Ubuntu', sans-serif;
    
}
.horizontal-Line-Hobbies{
    width: 5%;
    background-color: red;
    margin: 1rem 1rem 1rem 0rem;
    height: .2rem;
}

.Hobbies-page-Quote-Para{
    margin: .5rem .5rem .5rem 0rem;
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    color: rgb(95, 95, 95);
    margin-bottom: 2rem;
}

.pageEnd-horizontal-Line-Hobbies{
    width: 100%;
    background-color:rgb(232, 232, 233);
    margin: 1rem 1rem 1rem 0rem;
    height: .05rem;
}

.hobbies-page-displayicon-container{
    display: flex;
    flex-direction: row;
    /* padding: 5px; */
    justify-content: center;
}

.hobbies-page-displayicon-container div{
    background-color: #e71d36;
    border: none;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hobbies{
    padding: 5px;
    width: 8rem;
    height: 8rem;
    margin: .25rem;
    border:none;
    box-shadow: 1px 1px 5px rgb(165, 165, 165);
}
.hobbies:hover{
    width: 8.3rem;
    height: 8.3rem;
    transition: 3ms ease-in-out;
}
.myicon{
    width: 4rem;
    height: 4rem;
  filter: invert(100%);
}
.hobbies-para-heading{
    font-size: .9rem;
    color: whitesmoke;
       text-transform: uppercase; 
       padding: .3rem;
}


/* Responsiveness media queries  */

@media (max-width:550px){

    .Hobbies-page-Quote-Para{
    font-size: 1.2rem;
}
.hobbies-page-displayicon-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
}   