@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Roboto&family=Ubuntu&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

.mainCalculatorContainer {
    display: flex;
    background-color: rgb(53, 53, 53);
    justify-content: center;
    align-items: center;
    height: 100vh;




}

.containerCalciContainer {
    display: flex;
    height: 93vh;
    justify-content: center;
    align-items: center;
    width: 23vmax;
    background-color: rgb(19, 19, 19);
    border-radius: 2vmax;
    box-shadow: 0 0 2vmax black;
}

.inputBox {
    height: 8vmax;
    width: 21.8vmax;
    background-color: rgb(221, 221, 221);
    border-radius: 2vmax 2vmax 0 0;
    outline: none;
    border: none;
    text-align: right;
    font-size: 5vmax;
    word-wrap: normal;
    padding: .5vmax;
}

.mainBtnCon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1vmax;
}

.buttonstyle {
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    display: flex;
    height: 4vmax;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 4.1vmax;
    width: 4.1vmax;
    border-radius: 50%;
    margin: .3vmax;
    font-size: 1vmax;
    border: none;
    color: white;
    font-size: 2.2vmax;
    background-color: rgb(59, 59, 59);


}

.fontSize {
    font-size: 1.5vmax;
}

.fontSizeOp {
    font-size: 3vmax;


}

.heightplus {
    height: 9vmax;
    border-radius: 3vmax;
}

.widthequal {
    width: 13.5vmax;
    border-radius: 3vmax;
}

.bg-color {

    background-color: rgb(232, 147, 29);

}

.bg-color1 {
    color: black;
    background-color: rgb(186, 186, 186);

}

.bg-color2 {

    background-color: rgb(219, 41, 41);

}